* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

img {
  width: 20rem;
  height: 25rem;
}

nav {
  display: flex;
  border: solid 1px black;
}
nav div {
  height: 50px;
  width: 100vw;
}
nav div div {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
nav div div i {
  padding-right: 3%;
  transform: scale(120%);
}
nav div div h3 {
  width: 80%;
}

h1 {
  display: flex;
  flex-wrap: wrap;
}

header h4 {
  text-align: left;
  padding: 15vw 5vw;
}
header h1 {
  text-align: left;
  padding-left: 5vw;
  padding-right: 5vw;
}

.jump-button {
  display: flex;
  justify-content: center;
  padding: 15vw;
}
.jump-button button {
  padding: 1rem 2rem;
  box-shadow: 1px 1px black;
  border: solid 1px black;
  border-radius: 5px;
}

main h2 {
  text-align: center;
  padding: 5vw 5vw;
}
main p {
  text-align: center;
  padding: 5vw 5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 10px 33% 10px;
  grid-gap: 10px;
  border: solid 2px green;
  height: 40vh;
  text-align: center;
  padding: 5vw;
}
.grid-container i {
  transform: scale(300%);
}