


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

a:link,
a:visited {
  text-decoration: none;
}

img {
    width: 20rem;
    height: 25rem;
}

nav {
  display: flex;
  border: solid 1px black;
  
  div {
    height: 50px;
    width: 100vw;

    div {
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      
      i {
        padding-right: 3%;
        transform: scale(120%);
      }

      h3 {
        width: 80%;

      }
    }
  }
}


h1 {
  display: flex;
  flex-wrap: wrap;
}

header {

  h4 {
    text-align: left;
    padding: 15vw 5vw;
  }

  h1 {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
}

.jump-button {
  display: flex;
  justify-content: center;
  padding: 15vw;

  button {
    padding: 1rem 2rem;
    box-shadow: 1px 1px black ;
    border: solid 1px black;
    border-radius: 5px;
  }

}

main {

  h2 {
    text-align: center;
    padding: 5vw 5vw;
  }

  p {
    text-align: center;
    padding: 8vw 5vw;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;  
  height: 40vh;
  text-align: center;
  line-height: 6vh;
  padding: 5vw;

  i {
    transform: scale(350%);
  }

}



