*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(0.8turn, #000814, #001D3D);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.main__container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 1rem;
}

.body__container {
  background-color: #000814;
  border-radius: 1rem;
  display: grid;
  grid-template-areas: "screen" "buttons";
  grid-gap: 0.5rem;
  contain: content;
  max-width: 30rem;
  min-height: 75dvh;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.container__screen {
  padding: 0.3rem;
  grid-area: screen;
  height: 10dvh;
}

.main__screen {
  background-color: #000814;
  color: #FFD60A;
  text-align: right;
  font-size: 4rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.container__buttons {
  grid-area: buttons;
  min-height: 70vh;
  align-self: end;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}

.button__cards {
  display: grid;
  height: 10vh;
  contain: content;
  border: transparent 2px;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.button__cards button {
  height: 100%;
  min-width: 100%;
  border: solid 2px #000814;
  background-color: #001D3D;
  border-radius: 5rem;
  color: #FFC300;
  align-items: center;
  justify-content: center;
}
.button__cards button span {
  font-size: 3em;
  font-weight: bold;
  contain: layout;
}

.button__cards:active {
  opacity: 50%;
}

.operator__buttons button {
  background-color: #000814;
  border-color: #FFD60A;
}
.operator__buttons button span {
  color: #FFD60A;
}

.equals__button button {
  background-color: #FFC300;
}
.equals__button button span {
  color: #001D3D;
}

.clear__button {
  grid-column: 1/4;
  grid-row: 1/2;
}

.zero__button {
  grid-column: 2/4;
  grid-row: 5/6;
}