@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');

$font: "Sono"; 
$color-darkest: #000814;
$color-dark: #001D3D;
$color-medium: #003566;
$color-light: #FFC300;
$color-lightest: #FFD60A;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: $font;
}
  
body {
    background: radial-gradient(circle, $color-darkest 19%, $color-dark 90%, $color-dark 17%);
    min-height: 100vh;    
  }

  img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.main__container {    
    display: grid;    
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: 1rem;
}

.body__container {
    background-color: $color-darkest; 
    border-radius: 1rem;
    display: grid;
    grid-template-areas: 
        "screen"
        "buttons";
    grid-gap: .5rem;
    contain: content;
    max-width: 30rem;
    min-height: 75dvh;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .4);
}

.container__screen {    
    padding: .3rem;
    grid-area: screen;
    height: 10dvh;
}

.main__screen {    
    background-color: $color-darkest;
    color: $color-lightest;
    text-align: right;
    font-size: 4rem;
    height: 100%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .4);
}

.container__buttons {    
    grid-area: buttons;
    min-height: 70vh;    
    align-self: end;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem
    
}



.button__cards {
    display: grid;
    height: 12vh;       
    contain: content;
    border: transparent 2px;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .4);
    
    button {       
        border: solid 2px $color-darkest;
        background-color: $color-dark;
        border-radius: 5rem;       
        color: $color-light;      
        align-items: center;
        justify-content: center;              
        
        span {
            display: block;
            font-size: 3em;
            font-weight: bold; 
            
        }
    }
}


// Animation for buttons.

.button__cards:hover > *{
    transform: scale(120%);    
}

.container__buttons  {
    
    animation: moving-buttons 800ms cubic-bezier(0.51, 3.24, 0.42,-0.62) forwards;
}

.operator__buttons {    
    animation: moving-buttons 700ms cubic-bezier(0.33, 0.01, 0.33, 2.42)  forwards;
}
.clear__button{
    animation: moving-buttons 800ms cubic-bezier(0.33, 0.01, 0.33, 2.42)  forwards;
}
.zero__button{
    animation: moving-buttons 700ms cubic-bezier(0.33, 0.01, 0.33, 2.42)  forwards;
}

.equals__button {
    animation: moving-buttons 900ms cubic-bezier(0, 0.98, 0.78, 1.89)  forwards;
}

@keyframes moving-buttons {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX();

    }
}

.button__cards:active {
    opacity: 50%;
}

.operator__buttons {
    
    button{
        background-color: $color-darkest;
        border-color: $color-lightest;

        span{
            color: $color-lightest;            
        }
    }
    

}

.equals__button {

    button {
        background-color: $color-light;
        
        span{
            color: $color-dark;
        }
    }
}

.clear__button {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.zero__button {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

