
// 5x6 layout

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; 
  font-size: 1.25rem; 
  margin: 0;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {   
    padding: 2rem 1rem;
    border: solid 2px red;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    
}

.body__container {
   
    padding: 1rem;
    border: solid 2px white;
    width: 50vh;
    min-height: 75vh;
   
    display: grid;
    grid-template-areas:
        "screen"
        "buttons";
    grid-gap: .5rem;

}

.container__screen {   
    padding: .3rem;
    grid-area: screen;
    border: solid 2px skyblue;
    height: 10vh;        
}

.screen {    
    width: 100%;
    min-height: 100%;
    background-color: black;
    color: white;  
    text-align: right;  
    font-size: 3rem;  
}

.container__buttons {
    grid-area: buttons;
    padding: .5rem;
    min-height: 70vh;
    align-self: end;
    border: solid 2px hotpink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;    
    grid-gap: .5rem;
    align-items: center;

}



.button__cards {
    border: solid 2px magenta;
    min-height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    
        
    i {
        transform: scale(200%);
        color: white;
    }
}


.clear-button {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
}

.zero-button {
    grid-column: 2 / 4;
    grid-row: 5 /6;
}



// C     /    
// 1 2 3 X
// 4 5 6 +
// 7 8 9 - 
// . -0- =