
// 5x6 layout

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; 
  font-size: 1.25rem; 
  margin: 0;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {
    height: 100%;
    width: 100%;
    border: solid 2px red;
    display: grid;
    align-content: center;
    justify-content: center;
}

.body__container {
    border: solid 2px white;
    width: 50dvh;
    height: 75dvh;
    display: grid;
    grid-template-areas:
        "screen screen screen screen"
        "buttons buttons buttons buttons"
        "buttons buttons buttons buttons"
        "buttons buttons buttons buttons"
        "buttons buttons buttons buttons"
        "buttons buttons buttons buttons"    
    ;
    grid-gap: .5rem;

}

.container__screen {
    grid-area: screen;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border: solid 2px skyblue;
    height: 100%;
    
}

.screen {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.container__buttons {
    grid-area: buttons;

    height: 100%;
    align-self: end;
    border: solid 2px hotpink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: .3rem;
    align-items: center;

}

.button__cards {
    border: solid 2px magenta;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    
    
    
    i {
        transform: scale(150%);
        color: white;
    }
}