/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.25rem;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: black;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {
  padding: 2rem 1rem;
  border: solid 2px red;
  display: grid;
  align-content: center;
  justify-content: center;
}

.body__container {
  padding: 1rem;
  border: solid 2px white;
  width: 50dvh;
  contain: content;
  display: grid;
  grid-template-areas: "screen" "buttons";
  grid-gap: 0.5rem;
}

.container__screen {
  padding: 0.3rem;
  grid-area: screen;
  border: solid 2px skyblue;
}

.screen {
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
}

.container__buttons {
  grid-area: buttons;
  min-height: 75%;
  align-self: end;
  border: solid 2px hotpink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.3rem;
  align-items: center;
}

.button__cards {
  border: solid 2px magenta;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
.button__cards i {
  transform: scale(150%);
  color: white;
}