
$color-darkest: #000814;
$color-dark: #001D3D;
$color-medium: #003566;
$color-light: #FFC300;
$color-lightest: #FFD60A;


// 5x6 layout

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; 
  font-size: 1.25rem; 
  margin: 0;
}


/* Set core body defaults */
body {
  height: 100vh;
  line-height: 1.5;
  background-color: $color-darkest;
    
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {   
    // border: solid 2px red;
    padding: 0 1rem;    
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 50vh;
    contain: content;
    background: linear-gradient(.8turn, $color-darkest, $color-dark);
    
}

.body__container {  
    background-color: $color-darkest; 
    padding: 1rem;
    margin: 0 2rem;
    // border: solid 2px $color-medium;
    border-radius: 1rem;
    width: 50vh;
    min-height: 75vh;   
    display: grid;
    grid-template-areas:
        "screen"
        "buttons";
    grid-gap: .5rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .4);
}

.container__screen {   
    padding: .3rem;
    grid-area: screen;
    
    height: 10vh;        
}

.screen {    
    width: 100%;
    min-height: 100%;
    background-color: $color-darkest;
    color: $color-lightest;  
    text-align: right;  
    font-size: 3rem;  
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .4);
}

.container__buttons {
    grid-area: buttons;
    padding: .5rem;
    min-height: 70vh;
    align-self: end;
    // border: solid 2px hotpink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;    
    grid-gap: .5rem;
    align-items: center;

}



.button__cards {
    border: solid 2px $color-darkest;
    background-color: $color-dark;
    min-height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .4);
    
    i::before {
        visibility: visible;  
        
    }

    
    i {
        transform: scale(200%);
        color: $color-light;        
        visibility: hidden;
        padding-left: .8rem ;        
    }
}

.button__cards:active {
    opacity: 50%;
    
}

#divide__icon {
    padding-right: .4rem;
}

#multiply__icon {
    padding-left: .9rem;
}
#minus__icon{
    padding-right: .3rem;
}

#plus__icon {
    padding-left: 1.1rem;
}

#equals__icon {
    padding-right: .7rem;
}

#operator__icons {
   
    align-items: center;
}

#decimal {
    visibility: visible;
    padding-right: .7rem;
}

#clear::before {
    visibility: hidden;
}

#clear {
    padding-right: 1.8rem;
    visibility: visible;
}




.clear-button {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
}

.zero-button {
    grid-column: 2 / 4;
    grid-row: 5 /6;
}



// C     /    
// 1 2 3 X
// 4 5 6 +
// 7 8 9 - 
// . -0- =