/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1.25rem;
  margin: 0;
}

/* Set core body defaults */
body {
  height: 100vh;
  line-height: 1.5;
  background-color: #000814;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.main__container {
  padding: 0 1rem;
  display: grid;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 50vh;
  contain: content;
  background: linear-gradient(0.8turn, #000814, #001D3D);
}

.body__container {
  background-color: #000814;
  padding: 1rem;
  margin: 0 2rem;
  border-radius: 1rem;
  width: 50vh;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "screen" "buttons";
  grid-gap: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.container__screen {
  padding: 0.3rem;
  grid-area: screen;
  height: 10vh;
}

.screen {
  width: 100%;
  min-height: 100%;
  background-color: #000814;
  color: #FFD60A;
  text-align: right;
  font-size: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.container__buttons {
  grid-area: buttons;
  padding: 0.5rem;
  min-height: 70vh;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  align-items: center;
}

.button__cards {
  border: solid 2px #000814;
  background-color: #001D3D;
  min-height: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.button__cards i::before {
  visibility: visible;
}
.button__cards i {
  transform: scale(200%);
  color: #FFC300;
  visibility: hidden;
  padding-left: 0.8rem;
}

.button__cards:active {
  opacity: 50%;
}

#divide__icon {
  padding-right: 0.4rem;
}

#multiply__icon {
  padding-left: 0.9rem;
}

#minus__icon {
  padding-right: 0.3rem;
}

#plus__icon {
  padding-left: 1.1rem;
}

#equals__icon {
  padding-right: 0.7rem;
}

#operator__icons {
  align-items: center;
}

#decimal {
  visibility: visible;
  padding-right: 0.7rem;
}

#clear::before {
  visibility: hidden;
}

#clear {
  padding-right: 1.8rem;
  visibility: visible;
}

.clear-button {
  grid-column: 1/4;
  grid-row: 1/2;
}

.zero-button {
  grid-column: 2/4;
  grid-row: 5/6;
}